list.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>f50e4c2b-015c-1000-c355-8a4cc27f9e5a</groupId>
  <name>list</name>
  <snippet>
    <connections>
      <id>88d6516e-8c50-397e-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>6dd5e9e4-aeaa-3796-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>1bb588be-317f-3f89-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b374636d-5faf-3cf8-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>6202c78e-847b-3ead-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>6dd5e9e4-aeaa-3796-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c0c69044-a878-35bf-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>47481990-bbe3-3490-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>83624523-7d50-3f80-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ef4fd5a6-7938-317d-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>83624523-7d50-3f80-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>e56af927-a3ee-3a19-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>289342db-2aa0-3a38-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>413d5041-8e1f-3285-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>47481990-bbe3-3490-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4948c06f-35ac-3460-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>e56af927-a3ee-3a19-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>1290ba33-1252-31e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4dcdcac3-9261-3923-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>1290ba33-1252-31e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>cbcf88d5-5bbf-38f0-0000-000000000000</groupId>
        <id>6202c78e-847b-3ead-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>ac9955f8-af90-309a-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hive-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>hive-db-connect-url</key>
          <value>
            <name>hive-db-connect-url</name>
          </value>
        </entry>
        <entry>
          <key>hive-config-resources</key>
          <value>
            <name>hive-config-resources</name>
          </value>
        </entry>
        <entry>
          <key>hive-db-user</key>
          <value>
            <name>hive-db-user</name>
          </value>
        </entry>
        <entry>
          <key>hive-db-password</key>
          <value>
            <name>hive-db-password</name>
          </value>
        </entry>
        <entry>
          <key>hive-max-wait-time</key>
          <value>
            <name>hive-max-wait-time</name>
          </value>
        </entry>
        <entry>
          <key>hive-max-total-connections</key>
          <value>
            <name>hive-max-total-connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
      </descriptors>
      <name>HiveConnectionPool</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>hive-db-connect-url</key>
          <value>jdbc:hive2://princeton11.field.hortonworks.com:10000</value>
        </entry>
        <entry>
          <key>hive-config-resources</key>
          <value>/etc/hive/conf/hive-site.xml</value>
        </entry>
        <entry>
          <key>hive-db-user</key>
          <value>root</value>
        </entry>
        <entry>
          <key>hive-db-password</key>
        </entry>
        <entry>
          <key>hive-max-wait-time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>hive-max-total-connections</key>
          <value>4</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.hive.HiveConnectionPool</type>
    </controllerServices>
    <controllerServices>
      <id>76e3b1ea-0d7e-3e4d-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>DBCPConnectionPool</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:mysql://princeton11.field.hortonworks.com:3306/test</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>com.mysql.jdbc.Driver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>/Volumes/Transcend/drivers/mysql-connector-java.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>nifi</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <processors>
      <id>83624523-7d50-3f80-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>3.209228515625</x>
        <y>724.49072265625</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/cdctables/${'db.table.name'}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS Tables</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>e56af927-a3ee-3a19-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>592.4447021484375</x>
        <y>555.7044067382812</y>
      </position>
      <bundle>
        <artifact>nifi-hive-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>orc-config-resources</key>
            <value>
              <name>orc-config-resources</name>
            </value>
          </entry>
          <entry>
            <key>orc-stripe-size</key>
            <value>
              <name>orc-stripe-size</name>
            </value>
          </entry>
          <entry>
            <key>orc-buffer-size</key>
            <value>
              <name>orc-buffer-size</name>
            </value>
          </entry>
          <entry>
            <key>orc-compression-type</key>
            <value>
              <name>orc-compression-type</name>
            </value>
          </entry>
          <entry>
            <key>orc-hive-table-name</key>
            <value>
              <name>orc-hive-table-name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>orc-config-resources</key>
            <value>/etc/hive/conf/hive-site.xml</value>
          </entry>
          <entry>
            <key>orc-stripe-size</key>
            <value>64 MB</value>
          </entry>
          <entry>
            <key>orc-buffer-size</key>
            <value>10 KB</value>
          </entry>
          <entry>
            <key>orc-compression-type</key>
            <value>NONE</value>
          </entry>
          <entry>
            <key>orc-hive-table-name</key>
            <value>${'db.table.name'}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertAvroToORC</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hive.ConvertAvroToORC</type>
    </processors>
    <processors>
      <id>1290ba33-1252-31e7-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>423.56207275390625</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>SQL select query</key>
            <value>
              <name>SQL select query</name>
            </value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>
              <name>Max Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>dbf-normalize</key>
            <value>
              <name>dbf-normalize</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>76e3b1ea-0d7e-3e4d-0000-000000000000</value>
          </entry>
          <entry>
            <key>SQL select query</key>
            <value>${'sql'}</value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>0 seconds</value>
          </entry>
          <entry>
            <key>dbf-normalize</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
    </processors>
    <processors>
      <id>1bb588be-317f-3f89-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>24.4091796875</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>list-db-tables-db-connection</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>list-db-tables-db-connection</name>
            </value>
          </entry>
          <entry>
            <key>list-db-tables-catalog</key>
            <value>
              <name>list-db-tables-catalog</name>
            </value>
          </entry>
          <entry>
            <key>list-db-tables-schema-pattern</key>
            <value>
              <name>list-db-tables-schema-pattern</name>
            </value>
          </entry>
          <entry>
            <key>list-db-tables-name-pattern</key>
            <value>
              <name>list-db-tables-name-pattern</name>
            </value>
          </entry>
          <entry>
            <key>list-db-tables-types</key>
            <value>
              <name>list-db-tables-types</name>
            </value>
          </entry>
          <entry>
            <key>list-db-include-count</key>
            <value>
              <name>list-db-include-count</name>
            </value>
          </entry>
          <entry>
            <key>list-db-refresh-interval</key>
            <value>
              <name>list-db-refresh-interval</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>list-db-tables-db-connection</key>
            <value>76e3b1ea-0d7e-3e4d-0000-000000000000</value>
          </entry>
          <entry>
            <key>list-db-tables-catalog</key>
          </entry>
          <entry>
            <key>list-db-tables-schema-pattern</key>
          </entry>
          <entry>
            <key>list-db-tables-name-pattern</key>
          </entry>
          <entry>
            <key>list-db-tables-types</key>
            <value>TABLE</value>
          </entry>
          <entry>
            <key>list-db-include-count</key>
            <value>true</value>
          </entry>
          <entry>
            <key>list-db-refresh-interval</key>
            <value>0 sec</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListDatabaseTables</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListDatabaseTables</type>
    </processors>
    <processors>
      <id>413d5041-8e1f-3285-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>605.5057428929379</x>
        <y>1077.3310926903202</y>
      </position>
      <bundle>
        <artifact>nifi-hive-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hive Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.hive.HiveDBCPService</identifiesControllerService>
              <name>Hive Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>hive-batch-size</key>
            <value>
              <name>hive-batch-size</name>
            </value>
          </entry>
          <entry>
            <key>hive-charset</key>
            <value>
              <name>hive-charset</name>
            </value>
          </entry>
          <entry>
            <key>statement-delimiter</key>
            <value>
              <name>statement-delimiter</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hive Database Connection Pooling Service</key>
            <value>ac9955f8-af90-309a-0000-000000000000</value>
          </entry>
          <entry>
            <key>hive-batch-size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>hive-charset</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>statement-delimiter</key>
            <value>;</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Create table if not exists</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hive.PutHiveQL</type>
    </processors>
    <processors>
      <id>47481990-bbe3-3490-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>602.2309563012518</x>
        <y>776.0328295791096</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s:^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${hive.ddl} LOCATION '${absolute.hdfs.path}'</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Always Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Generate Hive DDL for table</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>6202c78e-847b-3ead-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>649.5369873046875</x>
        <y>340.3806457519531</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>
              <name>Maximum Capture Group Length</name>
            </value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>
              <name>Enable Canonical Equivalence</name>
            </value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>
              <name>Enable Case-insensitive Matching</name>
            </value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>
              <name>Permit Whitespace and Comments in Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>
              <name>Enable DOTALL Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>
              <name>Enable Literal Parsing of the Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>
              <name>Enable Multiline Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>
              <name>Enable Unicode-aware Case Folding</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>
              <name>Enable Unicode Predefined Character Classes</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>
              <name>Enable Unix Lines Mode</name>
            </value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>
              <name>Include Capture Group 0</name>
            </value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>
              <name>extract-text-enable-repeating-capture-group</name>
            </value>
          </entry>
          <entry>
            <key>sql</key>
            <value>
              <name>sql</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>1024</value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>true</value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>false</value>
          </entry>
          <entry>
            <key>sql</key>
            <value>^(.*)</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ParseSQL</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractText</type>
    </processors>
    <processors>
      <id>6dd5e9e4-aeaa-3796-0000-000000000000</id>
      <parentGroupId>cbcf88d5-5bbf-38f0-0000-000000000000</parentGroupId>
      <position>
        <x>27.6009521484375</x>
        <y>222.46969604492188</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>db-fetch-db-type</key>
            <value>
              <name>db-fetch-db-type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Columns to Return</key>
            <value>
              <name>Columns to Return</name>
            </value>
          </entry>
          <entry>
            <key>Maximum-value Columns</key>
            <value>
              <name>Maximum-value Columns</name>
            </value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>
              <name>Max Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>gen-table-fetch-partition-size</key>
            <value>
              <name>gen-table-fetch-partition-size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>76e3b1ea-0d7e-3e4d-0000-000000000000</value>
          </entry>
          <entry>
            <key>db-fetch-db-type</key>
            <value>Generic</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>${'db.table.name'}</value>
          </entry>
          <entry>
            <key>Columns to Return</key>
          </entry>
          <entry>
            <key>Maximum-value Columns</key>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>0 seconds</value>
          </entry>
          <entry>
            <key>gen-table-fetch-partition-size</key>
            <value>10000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GenerateTableFetch</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateTableFetch</type>
    </processors>
  </snippet>
  <timestamp>07/11/2017 11:17:22 EDT</timestamp>
</template>
