TensorFlowTest.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>8f42b049-015e-1000-c029-d0e4f867d8a5</groupId>
  <name>TensorFlowTest</name>
  <snippet>
    <processGroups>
      <id>3d801153-5978-3e30-0000-000000000000</id>
      <parentGroupId>5fb30663-6d10-3e85-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>c62eb13e-add3-3b92-0000-000000000000</id>
          <parentGroupId>3d801153-5978-3e30-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>3d801153-5978-3e30-0000-000000000000</groupId>
            <id>70fc61ea-b530-3e58-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>3d801153-5978-3e30-0000-000000000000</groupId>
            <id>1f395b44-8ece-3009-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>52ef5570-b413-3cc4-0000-000000000000</id>
          <parentGroupId>3d801153-5978-3e30-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>3d801153-5978-3e30-0000-000000000000</groupId>
            <id>1f395b44-8ece-3009-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>3d801153-5978-3e30-0000-000000000000</groupId>
            <id>97e42704-cee7-35d1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>97e42704-cee7-35d1-0000-000000000000</id>
          <parentGroupId>3d801153-5978-3e30-0000-000000000000</parentGroupId>
          <position>
            <x>406.0911805967653</x>
            <y>577.4636523217641</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Input Directory</key>
                <value>
                  <name>Input Directory</name>
                </value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>
                  <name>Recurse Subdirectories</name>
                </value>
              </entry>
              <entry>
                <key>Input Directory Location</key>
                <value>
                  <name>Input Directory Location</name>
                </value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>
                  <name>File Filter</name>
                </value>
              </entry>
              <entry>
                <key>Path Filter</key>
                <value>
                  <name>Path Filter</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>
                  <name>Minimum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
                <value>
                  <name>Maximum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>
                  <name>Minimum File Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
                <value>
                  <name>Maximum File Size</name>
                </value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>
                  <name>Ignore Hidden Files</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Input Directory</key>
                <value>/Volumes/seagate/transcend/projects/nifi-tensorflow-processor/images</value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Input Directory Location</key>
                <value>Local</value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>[^\.].*</value>
              </entry>
              <entry>
                <key>Path Filter</key>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ListFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ListFile</type>
        </processors>
        <processors>
          <id>1f395b44-8ece-3009-0000-000000000000</id>
          <parentGroupId>3d801153-5978-3e30-0000-000000000000</parentGroupId>
          <position>
            <x>411.0911805967653</x>
            <y>836.4636523217641</y>
          </position>
          <bundle>
            <artifact>nifi-tensorflow-nar</artifact>
            <group>default</group>
            <version>unversioned</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>imgpath</key>
                <value>
                  <name>imgpath</name>
                </value>
              </entry>
              <entry>
                <key>modeldir</key>
                <value>
                  <name>modeldir</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>imgpath</key>
                <value>${absolute.path:append(${filename})}</value>
              </entry>
              <entry>
                <key>modeldir</key>
                <value>/Users/tspann/Downloads/transcend/nifi-tensorflow-processor-master/models/</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>TensorFlowProcessor</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.dataflowdeveloper.processors.process.TensorFlowProcessor</type>
        </processors>
        <processors>
          <id>70fc61ea-b530-3e58-0000-000000000000</id>
          <parentGroupId>3d801153-5978-3e30-0000-000000000000</parentGroupId>
          <position>
            <x>409.0911805967653</x>
            <y>1096.4636523217641</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/Users/tspann/Downloads/transcend/nifi-1.3.0/logs</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
      </contents>
      <name>TensorFlowTest</name>
    </processGroups>
  </snippet>
  <timestamp>09/30/2017 10:48:55 EDT</timestamp>
</template>